<!-- Banner -->
<section id="banner">

<p id="notice"><%= notice %></p>

<!-- Section -->
<section>
    
    <div>
        <div style="float:left">
            <header class="major">
        		<h1>board</h1>
        	</header>
    	</div>
    	
    	<div class="postsheader" style="float:right">
    	    <a href="/write_post"  class="button">글쓰기</a>
        </div>
    </div>
    
  
	<div class="posts">
		 <% @post.each do |post|%>
		
			<article>
				<a href="#" class="image"><%= image_tag "pic01.jpg" %></a>
				<h3><%= @post.title %></h3>
				<p>sdf</p>
						
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
		<% end %>	
	</div>
	
	
</section>
</section>