// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span img {
		   resize: both; /* 이미지 최대 사이즈에 적용 */
		   float: center; /* 가운데 정렬 */
		   max-width: 100px; /* 넓이를 지정 */
		   height: 500px; /* 높이를 지정 */
		   margin: 5px 0; /* 여백을 적용 4가지 조건이 가능 위쪽, 오른쪽, 아래쪽, 왼쪽 순서 */
		}