<ul class="actions fit login-btn-container">
	<li><a href="#" data-toggle="modal" data-target="#login-modal" class="button fit login-btn">로그인</a></li>
</ul>
	
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>당신의 계정을 로그인 하세요</h1><br>
      
      <%= render "devise/sessions/modal_new" %>
      
    </div>
  </div>

</div>
		 