
<div class="">

<div class="content_card">
  <!--<div class="card">-->
  
    <!--<div class="firstinfo"><%#= image_tag current_user.profile_img %>-->
    <br>
    <center>
    <div class="firstinfo"><%= image_tag "person.jpg" %>
    </center>
    <br>
      <div class="profileinfo">
        <br>
        <center>
        <h3><code><%= current_user.email %></code></h3>
        <p class="bio">반갑습니다,</p><p><%= current_user.email %>님</p>
        </center>
      </div>
    <!--</div>-->
    <ul class="actions session_button">
      <center>
			<li><a href="/users/sign_out" class="button special">로그아웃</a></li>
			<li><a href="/users/show" class="button">마이페이지</a></li>
			</center>
	  </ul>
	 
  <!--</div>-->
</div>

</div>